* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #e8e8e8;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border: none;
  outline: none;
}

.container {
  margin-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 750px;
  margin: 25px 0;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form > div {
  margin-bottom: 20px;
}

.form label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.form input,
.form textarea,
.form select {
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.form input:focus {
  outline: none;
  border: 2px solid #0085ff;
}

.top_form,
.middle_form {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.bottom_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

textarea {
  resize: none;
}

.form button[type="submit"] {
  display: block;
  background: #0085ff;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
  width: 20%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease all;
}

.form button[type="submit"]:hover {
  background: #0051ff;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.config_input {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.config_input::before {
  font-size: 24px;
  border: 1px solid black;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "+";
  position: absolute;
  left: 670px;
  right: 0;
  top: 0;
  bottom: 0;
}

.config_input input[type="file"] {
  opacity: 0;
  width: 50px;
  height: 32px;
}
